html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  z-index: 0;
  height: 100%;
}

.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-control.leaflet-timeline-control {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

.time-text {
  font-weight: bold;
  font-size: large;
}
