html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  z-index: 0;
  height: 100%;
}

.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-control.leaflet-timeline-control {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

.time-text {
  font-weight: bold;
  font-size: large;
}

.counter-control {
  padding: 5px;
}

.counter-div {
  width: 150px;
  height: 1.2em;
  line-height: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-text {
  text-align: left;
}

.counter-number {
  text-align: right;
}