html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  z-index: 0;
  height: 100%;
}

.leaflet-control.leaflet-timeline-control {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  box-sizing: content-box;
}

.leaflet-timeline-control .time-slider {
  min-width: 300px;
  width: calc(100vw - 25px);
  max-width: 640px;
}